@model Customer

@{
    ViewBag.Title = "Details";
}

<div class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:blue;">Detalhes do Cliente</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label style=" font-size:17px;">Nome: </label>
                        <label>@Model.Name</label>
                    </div>
                    <div class="form-group">
                        <label style=" font-size:17px;">Email: </label>
                        <label>@Model.Email</label>
                    </div>
                    <div class="form-group">
                        <label style="font-size:17px;">
                            Telefone:
                        </label>
                        <label>@Model.Phone</label>
                    </div>
                    <div class="form-group">
                        <label style=" font-size:17px;">Endereço: </label>
                        <label>@Model.Address</label>
                    </div>
                    <div class="form-group">
                        <label style="font-size:17px;">Empresa: </label>
                        <label>@Model.Business</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
